.slideShow {
    width: 100%;
    height: auto;
    aspect-ratio: 1/0.32;
    background-position: center;
    background-size: cover;
    border-radius: 10px;

    @media(max-width:800px) {
        aspect-ratio: 1/0.70;
    }

    &__nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 90%;
        width: 100%;

        &--left {
            color: #fff;
            background: none;
            border: none;
            font-size: 2rem;
            padding: 0;
        }

        &--right {
            color: #fff;
            background: none;
            border: none;
            font-size: 2rem;
            padding: 0;

        }
    }

    &__currentPicture {
        display: flex;
        width: 100%;
        justify-content: center;
        color: #fff;
    }


}