.accomodations {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 340px));
    justify-content: center;
    background-color: #F6F6F6;
    border-radius: 20px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 86%;
    height: 100%;
    padding: 3em;
    gap: 1.5rem 2rem;

    @media(max-width:800px) {
        grid-template-columns: 1fr;
        background-color: white;
        margin-top: 0;
        padding: 0;
    }

}