.visitedAccomodation {
    width: 90%;
    display: flex;
    flex-direction: column;

    &__introduction {
        max-height: 100px;

        margin-bottom: 1rem;


        &__title {
            color: #FF6060;
            width: 100%;
            margin: 0;

            @media(max-width:1000px) {
                font-size: 1.8rem;
            }


            @media(max-width:905px) {
                font-size: 1.6rem;
            }

        }

        &__location {
            color: black;
            font-weight: 450;
            font-size: 1rem;
            margin: 0;
        }

    }

    &__tags {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 0px 0.2rem;
        max-height: 57.38px;



        @media(max-width:1360px) {
            max-height: 100px;
        }

        &__tag {
            background-color: #FF6060;
            color: white;
            border-radius: 15px;
            padding: 0.2em 1em 0.2em 1em;
            font-weight: 700;
            max-height: 30px;
            text-wrap: nowrap;
            margin-bottom: 0.1em;
            margin-top: 0;

        }
    }

    &__hostAndRatings {
        @media(max-width:800px) {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
        }
    }

    &__host {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        width: 100%;
        margin-bottom: 1rem;
        justify-content: flex-end;

        @media(max-width:1444px) {
            gap: 1.2em;
        }

        @media(max-width:1071px) {
            gap: 1.4em;
        }

        @media(max-width:1009px) {
            gap: 2em;
        }

        @media(max-width:870px) {
            gap: 2.4em;
        }

        @media(max-width:800px) {
            order: 1;
        }

        &__name {
            color: #FF6060;
            font-size: 1.1rem;
            text-wrap: wrap;
            width: 15%;
            padding: 0.5rem 0 0.5rem 0;
            max-height: 50%;
            margin: 0;
        }

        &__avatar {
            border-radius: 100px;
            aspect-ratio: 1/1;
            max-height: 64px;

        }
    }

    &__ratings {
        display: flex;
        justify-content: flex-end;
        padding-right: 1rem;
        padding-top: 1rem;

        @media(max-width:800px) {
            order: 0;
        }
    }

    &__description {}

    &__equipment {
        display: flex;
        justify-content: flex-end;
        margin-top: 0;

        @media(max-width:800px) {
            justify-content: flex-start;
        }


    }




}


.presentation {
    max-height: 350px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;

    @media(max-width:800px) {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        // display: flex;
        // flex-direction: column;
        // flex-wrap: nowrap;
        // justify-content: flex-start;
        // align-items: flex-start;
    }
}

li {
    list-style: none;
    padding-left: 0;
}