.collapse {

    width: 75%;
    margin-bottom: 1rem;


    &__header {
        display: flex;
        flex-direction: row nowrap;
        background-color: #FF6060;
        color: #fff;
        justify-content: space-between;
        padding: 0.5rem;
        border-radius: 5px;

        &__title {
            margin: 0;
        }

        &__arrow {
            margin-top: 1.2rem;
            color: rgb(255, 255, 255);

            &--opening {
                transform: rotate(-180deg);
                transition: transform 1s;
                transform-origin: 50% 30%;
            }

            &--closing {
                transform: rotate(0deg);
                transition: transform 1s, margin-top 1s;
                margin-top: 1.2rem;
                transform-origin: 50% 30%;
            }
        }
    }

    &__content__paragraph {
        background-color: #F6F6F673;
        margin: 0;

        &--opening {

            display: block;
            transition: padding-top 0.2s ease;
            padding-top: 0.6rem;
            margin-bottom: 1rem;
            padding-left: 0.5rem;
            padding-right: 0.5rem;
            padding-bottom: 0.5rem;


            @starting-style {
                padding-top: 0;

            }

        }

        &--closing {
            display: none;
        }

    }

    &__content__list {
        background-color: #F6F6F673;
        margin: 0;


        &--opening {

            display: block;
            transition: padding-top 0.2s ease;
            padding-top: 0.6rem;
            margin: 0;
            padding-left: 0.5rem;
            padding-right: 0.5rem;
            padding-bottom: 0.5rem;

            @starting-style {
                padding-top: 0;

            }

        }

        &--closing {
            display: none;
            padding-top: 0;
            transition: padding-top 0.2s ease;

            @starting-style {
                padding-top: 0.6rem;

            }
        }
    }


}