.collapse {

    margin-bottom: 1rem;

    &__header {
        display: flex;
        flex-direction: row nowrap;
        background-color: #FF6060;
        color: #fff;
        justify-content: space-between;
        padding: 0.5rem;
        border-radius: 5px;

        &__title {
            margin: 0;
        }

        &__arrow {
            margin-top: 1.2rem;
            color: rgb(255, 255, 255);

            &--opening {
                transform: rotate(-180deg);
                transition: transform 1s;
                transform-origin: 50% 30%;
            }

            &--closing {
                transform: rotate(0deg);
                transition: transform 1s, margin-top 1s;
                margin-top: 1.2rem;
                transform-origin: 50% 30%;
            }
        }
    }





    &__content__paragraph {



        &--opening {

            display: block;
            visibility: visible;
            transition: padding-top 0.2s ease;
            padding-top: 0.6rem;
            margin-bottom: 1rem;
            padding-left: 0.5rem;
            padding-right: 0.5rem;
            padding-bottom: 0.5rem;
            background-color: #F6F6F673;
            margin-top: 0;

            @starting-style {
                padding-top: 0;

            }

        }

        &--closing {

            opacity: 0;
            margin-top: 0;
            margin-bottom: 0.5rem;
            height: 0;
            padding-top: 0;
            transition: opacity 0.2s, margin-top 0.2s, height 0.2s, padding-top 0.2s, visibility 0.2s 0.5s;
            visibility: hidden;

        }

    }

    &__content__list {
        background-color: #F6F6F673;
        margin: 0;


        &--opening {

            display: block;
            transition: padding-top 0.2s ease;
            padding-top: 0.6rem;
            margin-top: 0;
            padding-left: 0.5rem;
            padding-right: 0.5rem;
            padding-bottom: 0.5rem;
            background-color: #F6F6F673;

            @starting-style {
                padding-top: 0;

            }

        }

        &--closing {
            opacity: 0;
            margin-top: 0;
            margin-bottom: 0.5rem;
            height: 0;
            padding-top: 0;
            transition: opacity 0.2s, margin-top 0.2s, height 0.2s, padding-top 0.2s;
        }
    }


}