.collapse {

    width: 75%;
    margin-top: 1rem;


    &__header {
        display: flex;
        flex-direction: row nowrap;
        background-color: #FF6060;
        color: #fff;
        justify-content: space-between;
        padding: 0.5rem;
        border-radius: 5px;

        &__title {
            margin: 0;
        }

        &__arrow {
            margin-top: 1.2rem;
            color: rgb(255, 255, 255);

            &--opening {
                transform: rotate(-180deg);
                transition: transform 1s;
                transform-origin: 50% 30%;
            }

            &--closing {
                transform: rotate(0deg);
                transition: transform 1s, margin-top 1s;
                margin-top: 1.2rem;
                transform-origin: 50% 30%;
            }
        }
    }

    &__content {
        background-color: #F6F6F673;
        margin: 0;
        padding: 0.5rem;
    }




}