header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    margin-inline: auto;
    width: 86%;
    box-sizing: border-box;

    @media(max-width:800px) {
        padding-left: 0;
        padding-right: 0;
        justify-content: space-around;
        margin-inline: 0;
    }

    @media(max-width:340px) {
        padding: 0;
        width: 70%;
    }

}

header img {
    @media(max-width:550px) {
        width: 30%;
    }

    @media(max-width:340px) {
        width: 20%;
    }
}


.navbar {
    display: flex;
    gap: 1.5em;

    @media(max-width:800px) {
        align-items: center;

    }

    @media(max-width:340px) {
        font-size: 0.8rem;
    }



    &__link {
        text-decoration: none;
        color: black;
        font-weight: 600;
        font-size: 1.5rem;

        @media(max-width:800px) {
            font-weight: 400;
        }

        @media(max-width:570px) {
            font-size: 1.2rem;
        }

        @media(max-width:353px) {
            font-size: 1rem;
        }
    }

    &__link.active {
        border-bottom: 2px solid black;
    }

}