.footer {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1em;
    padding-bottom: 1em;
    width: 100%;

    @media(max-width:600px) {
        min-height: 250px;
    }

    &__logo {
        margin-bottom: 1rem;
    }

    &__text {
        color: white;
        margin: 0;
    }
}