* {
    font-family: 'Montserrat';
    box-sizing: border-box;
}

body {
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1440px;
    min-width: 320px;
    margin-inline: auto;
    width: 100%;
    box-sizing: border-box;
}

img {
    object-fit: cover;
}