.notFoundError {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 36px;
    width: 100%;
    color: #FF6060;
    margin-top: 1rem;
    margin-bottom: 2rem;

    &__title {
        font-size: 7em;
        margin: 0;
    }

    &__link {
        text-decoration: underline;
        color: black;
        font-size: 0.5em;
    }
}